<article
  *ngIf="product"
  [ngClass]="{ 'card--pdp': parentComponent === 'detail' }"
  class="card"
  [routerLink]="
    parentComponent === 'list' ? [RoutesRef.product, product.id] : []
  "
>
  <figure class="card__figure">
    <img class="figure__image" src="{{ product.image }}" appPlaceholder />
    <figcaption class="figure__caption">
      <ul class="caption__vote">
        <li
          class="vote"
          *ngFor="let count of [1, 1, 1, 1, 1]; let i = index"
          [ngClass]="{
            'vote--full': i < product.rating,
            'vote--empty': i >= product.rating
          }"
        ></li>
      </ul>
    </figcaption>
  </figure>
  <section class="card__info">
    <div class="card__info-group">
      <h2 class="h2 h--bold card__info-title">{{ product.name }}</h2>
      <p class="h5 card__info-desc">{{ product.description }}</p>
      <div *ngIf="parentComponent === 'detail' && isCurrentUserAdmin">
        <br class="h3" />
        <p class="h3 card__admin-action">
          You can
          <a class="card__admin-action--link">add 5 more</a>. You can also
          <a class="card__admin-action--link" [routerLink]="['edit']">edit</a>
          details or
          <a class="card__admin-action--link" [routerLink]="['delete']"
            >delete</a
          >
          them.
        </p>
      </div>
      <div *ngIf="parentComponent === 'list' && isCurrentUserAdmin">
        <br class="h3" />
        <p class="h3 card__admin-action">
          You can
          <a
            class="card__admin-action--link"
            style="cursor: pointer;"
            (click)="onDeleteHandler($event)"
            [routerLink]="['delete', product.id]"
            >delete</a
          >
          this product.
        </p>
      </div>
    </div>
    <div class="card__cta" *ngIf="parentComponent === 'list'; else pdpTemplate">
      <p class="h1 h--bold  card__info-price">{{ product.cost }}</p>
      <button
        class="button button--primary button--regular"
        [routerLink]="[RoutesRef.product, product.id]"
      >
        <span class="h5">Show More</span>
      </button>
    </div>
    <ng-template #pdpTemplate>
      <div class="card__cta">
        <p class="h1 h--bold  card__info-price">
          {{ product.cost
          }}<span class="h--lighter h--smaller card__info-price--extra">
            ({{
              getProductAvailability() > 0
                ? getProductAvailability() + ' items left'
                : 'Sold Out'
            }})</span
          >
        </p>
        <button
          class="button button--primary button--regular"
          (click)="onBuying = !onBuying"
          [disabled]="getProductAvailability() < 1"
        >
          <span class="h5">Buy</span>
        </button>
      </div>
      <app-product-buy
        *ngIf="onBuying"
        [product]="product"
        (closeModal)="onBuying = !onBuying"
      ></app-product-buy>
    </ng-template>
  </section>
</article>
