<article class="card" *ngIf="product">
  <figure class="card__figure">
    <img src="{{ product.image }}" />
    <figcaption class="figure__caption">
      <ul class="caption__vote">
        <li
          class="vote"
          [ngClass]="{
            'vote--full': i <= product.rating,
            'vote--empty': i > product.rating
          }"
          *ngFor="let count of [1, 1, 1, 1, 1]; let i = index"
        ></li>
      </ul>
    </figcaption>
  </figure>
  <section class="card__info">
    <div class="card__info-group">
      <h2 class="h2 h--bold card__info-title">{{ product.name }}</h2>
      <p class="h5 card__info-desc">{{ product.description }}</p>
    </div>
    <div class="card__cta">
      <p class="h1 h--bold  card__info-price">{{ product.cost }}</p>
      <button class="button button--primary button--regular">
        <span class="h5" [routerLink]="['/product-detail/', product.id]"
          >Show More</span
        >
      </button>
    </div>
  </section>
</article>
