$default-white: #ffffff;
$default-black: #000000;
$default-rgba-black: rgba(0, 0, 0);
$theme-main-color: #2a8676;
$theme-main-color-shade: #449587;
$theme-main-color-rgba-shadow: rgba(92, 186, 150);
$theme-seconday-color: #288575;
$button-primary: #1b745f;
$button-primary-active: #2bbcc2;
$button-secondary: #777777;
$button-secondary-active: #b1b1b1;
$border-main: #3fc5cb;
$border-error: #ff0000;
$border-focus: #9cc3bc;
$border-common: #979797;
$border-light: #d6d6d6;
$review-yellow: #ffcc00;
