@import 'checkboxs';
@import 'textinputs';
@import 'radiobuttons';
@import 'selects';
@import 'ranges';
@import 'textareas';

.form__field {
  margin-bottom: 1.25em;
}

.form_field--image {
  display: block;
  margin: 1.25em auto 0;
  max-width: 100%;
}

.form {
  width: 100%;
}

.form__error-message {
  color: $border-error;
}

input:focus ~ .form__error-message,
textarea:focus ~ .form__error-message {
  display: none;
}
