@import url(./checkbox.scss);
@import url(./textinput.scss);
@import url(./radiobutton.scss);
@import url(./select.scss);
@import url(./range.scss);
@import url(./textarea.scss);

.form__field {
  margin-bottom: 1.25em;
}

.form_field--image {
  display: block;
  margin: 1.25em auto 0;
  max-width: 100%;
}

.form {
  width: 100%;
}

.form__error-message {
  color: var(--border-error);
}

input:focus ~ .form__error-message,
textarea:focus ~ .form__error-message {
  display: none;
}
