<article *ngIf="product" class="card" (click)="navigateToDetailPage($event)">
  <app-card-figure
    [imageSrc]="product.image"
    [rating]="product.rating"
    [maxRating]="getProductMaxRating()"
  ></app-card-figure>

  <section class="card__info">
    <app-card-info-group
      class="card__info-desc"
      [title]="product.name"
      [description]="product.description"
    ></app-card-info-group>

    <app-card-actions
      *ngIf="isCurrentUserAdmin"
      [actions]="getActions()"
    ></app-card-actions>

    <div class="card__cta">
      <app-card-price [price]="product.cost"></app-card-price>

      <app-button primary regular (click)="navigateToDetailPage($event)"
        >Show More</app-button
      >
    </div>
  </section>
</article>
