<article *ngIf="product" class="card" [routerLink]="getLinkToDetailPage()">
  <figure class="card__figure">
    <img class="figure__image" src="{{ product.image }}" appPlaceholder />
    <app-card-rating [rating]="3" [maxRating]="5"></app-card-rating>
  </figure>
  <section class="card__info">
    <div class="card__info-group">
      <h2 class="h2 h--bold card__info-title">{{ product.name }}</h2>
      <p class="h5 card__info-desc">
        {{ product.description }}
      </p>
      <div *ngIf="isCurrentUserAdmin">
        <br class="h3" />
        <p class="h3 card__admin-action">
          You can
          <a
            class="card__admin-action--link"
            style="cursor: pointer;"
            (click)="onDeleteHandler($event)"
            [routerLink]="['delete', product.id]"
            >delete</a
          >
          this product.
        </p>
      </div>
    </div>
    <div class="card__cta">
      <p class="h1 h--bold  card__info-price">{{ product.cost }}</p>
      <button
        class="button button--primary button--regular"
        [routerLink]="getLinkToDetailPage()"
      >
        <span class="h5">Show More</span>
      </button>
    </div>
  </section>
</article>
