<article *ngIf="product" class="card" (click)="getLinkToDetailPage($event)">
  <app-card-figure
    [imageSrc]="product.image"
    [rating]="product.rating"
    [maxRating]="getProductMaxRating()"
  ></app-card-figure>

  <section class="card__info">
    <app-card-info-group
      class="card__info-desc"
      [title]="product.name"
      [description]="product.description"
    ></app-card-info-group>

    <app-card-actions
      *ngIf="isCurrentUserAdmin"
      [actions]="getActions()"
    ></app-card-actions>

    <div class="card__cta">
      <p class="h1 font__style--weight-bold  card__info-price">
        {{ product.cost }}
      </p>
      <button
        class="button button--primary button--regular"
        (click)="getLinkToDetailPage($event)"
      >
        <span class="h5">Show More</span>
      </button>
    </div>
  </section>
</article>
