<div class="modal modal__edit">
  <div class="modal__header">
    <h2
      class="h2--bigger font__style--weight-bold font__style--font-family--caption modal__title--elipsis"
    >
      {{
        product.name.length > 0
          ? 'Edit "' + product.name + '"'
          : 'Add a new product'
      }}
    </h2>
  </div>
  <div class="modal__body">
    <div class="modal__main">
      <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <section class="column">
          <div class="form__field">
            <p><label class="h3" for="name">Name:</label></p>
            <input
              class="h5 textinput"
              type="text"
              [formControlName]="editFormFields.name"
              id="name"
            />
            <p
              class="h3 form__error-message"
              *ngIf="controlHasError(editFormFields.name, 'required')"
            >
              This field is required
            </p>
          </div>
          <div class="form__field">
            <p><label class="h3" for="categoryId">Category:</label></p>
            <select
              class="h5 select select--white select__arrow select__arrow--green"
              [formControlName]="editFormFields.categoryId"
              id="categoryId"
              ><option
                *ngFor="let category of categories"
                [value]="+category.id"
                >{{ category.name }}</option
              >
            </select>
          </div>
          <div class="form__field">
            <p class="h3">Gender:</p>
            <ul class="radio__wrapper">
              <li *ngFor="let gender of genders">
                <input
                  class="radio"
                  type="radio"
                  id="{{ gender }}"
                  [formControlName]="editFormFields.gender"
                  [value]="gender"
                />
                <label class="h5 radio__label" for="{{ gender }}">{{
                  gender
                }}</label>
              </li>
            </ul>
          </div>
          <div class="form__field">
            <p><label class="h3" for="description">Description:</label></p>
            <textarea
              class="h5 pdp__modal-textarea--height textarea"
              rows="5"
              id="description"
              [formControlName]="editFormFields.description"
            ></textarea>
            <p
              class="h3 form__error-message"
              *ngIf="controlHasError(editFormFields.description, 'required')"
            >
              This field is required
            </p>
          </div>
        </section>
        <section class="column">
          <div class="form__field">
            <p><label class="h3" for="image">Link to image:</label></p>
            <input
              class="h5 textinput"
              type="url"
              id="image"
              [formControlName]="editFormFields.image"
            />
            <p
              class="h3 form__error-message"
              *ngIf="controlHasError(editFormFields.image, 'required')"
            >
              This field is required
            </p>
            <p
              class="h3 form__error-message"
              *ngIf="controlHasError(editFormFields.image, 'pattern')"
            >
              This must be an url
            </p>
            <img
              class="form_field--image"
              [src]="editForm.get(editFormFields.image).value"
            />
          </div>
          <div class="form__field">
            <p><label class="h3" for="cost">Price:</label></p>
            <input
              class="h5 textinput"
              type="number"
              step="any"
              id="cost"
              [formControlName]="editFormFields.cost"
            />
          </div>
          <div class="form__field">
            <p><label class="h3" for="rating">Rating:</label></p>
            <select
              class="h5 select select--white select__arrow select__arrow--green"
              id="rating"
              [formControlName]="editFormFields.rating"
            >
              <option
                *ngFor="let rating of [0, 1, 2, 3, 4, 5]"
                [value]="rating"
                >{{ rating }}</option
              >
            </select>
          </div>
        </section>
        <div class="modal__cta">
          <app-button secondary big (click)="onCancel()">Cancel</app-button>
          <app-button
            type="submit"
            primary
            big
            (click)="onCancel()"
            [disabled]="editForm.invalid"
            >Submit</app-button
          >
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-overlay"></div>
