<div class="modal modal__edit">
  <div class="modal__header">
    <h2 class="h2--bigger h--bold h--caption modal__title--elipsis">
      {{
        product.name.length > 0
          ? 'Edit "' + product.name + '"'
          : 'Add a new product'
      }}
    </h2>
  </div>
  <div class="modal__body">
    <div class="modal__main">
      <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <section class="column">
          <div class="form__field">
            <p><label class="h3" for="name">Name:</label></p>
            <input
              class="h5 textinput"
              type="text"
              formControlName="name"
              id="name"
            />
            <div
              *ngIf="
                !editForm.get('name').touched ||
                  !editForm.get('name').hasError('required');
                else field__error
              "
            ></div>
          </div>
          <div class="form__field">
            <p><label class="h3" for="categoryId">Category:</label></p>
            <select
              class="h5 select select--white select__arrow select__arrow--green"
              formControlName="categoryId"
              id="categoryId"
              ><option
                *ngFor="let category of categories"
                [value]="+category.id"
                >{{ category.name }}</option
              >
            </select>
          </div>
          <div class="form__field">
            <p class="h3">Gender:</p>
            <ul class="radio__wrapper">
              <li *ngFor="let gender of genders">
                <input
                  class="radio"
                  type="radio"
                  id="{{ gender }}"
                  formControlName="gender"
                  [value]="gender"
                />
                <label class="h5 radio__label" for="{{ gender }}">{{
                  gender
                }}</label>
              </li>
            </ul>
          </div>
          <div class="form__field">
            <p><label class="h3" for="description">Description:</label></p>
            <textarea
              class="h5 pdp__modal-textarea--height textarea"
              rows="5"
              id="description"
              formControlName="description"
            ></textarea>
            <div
              *ngIf="
                !editForm.get('description').touched ||
                  !editForm.get('description').hasError('required');
                else field__error
              "
            ></div>
          </div>
        </section>
        <section class="column">
          <div class="form__field">
            <p><label class="h3" for="image">Link to image:</label></p>
            <input
              class="h5 textinput"
              type="url"
              id="image"
              formControlName="image"
            />
            <div
              *ngIf="
                !editForm.get('image').touched ||
                  !editForm.get('image').hasError('required');
                else field__error
              "
            ></div>
            <p
              class="h3 form__error-message"
              *ngIf="
                editForm.get('image').touched &&
                editForm.get('image').hasError('pattern')
              "
            >
              This must be an url
            </p>
            <img class="form_field--image" [src]="editForm.value.image" />
          </div>
          <div class="form__field">
            <p><label class="h3" for="cost">Price:</label></p>
            <input
              class="h5 textinput"
              type="number"
              step="any"
              id="cost"
              formControlName="cost"
            />
          </div>
          <div class="form__field">
            <p><label class="h3" for="rating">Rating:</label></p>
            <select
              class="h5 select select--white select__arrow select__arrow--green"
              id="rating"
              formControlName="rating"
            >
              <option
                *ngFor="let rating of [0, 1, 2, 3, 4, 5]"
                [value]="rating"
                >{{ rating }}</option
              >
            </select>
          </div>
        </section>
        <div class="modal__cta">
          <button
            type="button"
            class="button button--secondary button--big"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            class="button button--primary button--big"
            type="submit"
            [disabled]="editForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #field__error
  ><p class="h3 form__error-message">
    This field is required
  </p></ng-template
>

<div class="modal-overlay"></div>
