@import 'palettes';
@import 'forms';
@import 'modals';

.login__icon--username {
  background-image: url(/assets/img/login-inactive.svg);
}

.login__icon--username.ng-invalid.ng-touched:not(:focus) {
  background-image: url(/assets/img/login-invalid.svg);
}

.login__icon--password {
  background-image: url(/assets/img/password-inactive.svg);
}

.login__icon--password.ng-invalid.ng-touched:not(:focus) {
  background-image: url(/assets/img/password-invalid.svg);
}
