.product-list__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-list__add-product {
  margin-right: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
}

.main__card {
  margin-bottom: 1.69em;
  width: 27.5em;
}

.main__card--slider {
  width: 27.5em;
  height: 18.34em;
  background-color: white;
}

.product-list__pages-navigation {
  display: flex;
  justify-content: space-between;
}
