<app-products-filter></app-products-filter>
<div class="cards" *ngIf="products && products.length; else noProducts">
  <div class="main__card" *ngFor="let product of products">
    <app-product-card
      parentComponent="list"
      [product]="product"
    ></app-product-card>
  </div>
</div>
<div class="product-list__pages-navigation">
  <button
    class="h5 button button--primary button--regular"
    [disabled]="paginationLinks['prev'] === null"
    (click)="fetchFilteredProducts({}, paginationLinks['prev'])"
  >
    Previous Page
  </button>
  <button
    class="h5 button button--primary button--regular"
    [disabled]="paginationLinks['next'] === null"
    (click)="fetchFilteredProducts({}, paginationLinks['next'])"
  >
    Next Page
  </button>
</div>
<ng-template #noProducts
  ><h1 class="h1 h--bold h--center" style="color: var(--default-white)">
    No products available!
  </h1></ng-template
>
