<div class="modal__edit">
  <div class="modal__header">
    <h2
      class="h2--bigger font__style--weight-bold font__style--font-family--caption modal__title--elipsis"
    >
      {{
        product.name.length > 0
          ? 'Edit "' + product.name + '"'
          : 'Add a new product'
      }}
    </h2>
  </div>
  <div class="modal__body">
    <div class="modal__main">
      <form class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <section class="column">
          <div class="form__field">
            <app-input-field
              [fieldName]="editFormFields.name | titlecase"
              [initValue]="this.product.name"
              [validators]="{ required: true }"
              (controllerCreated)="addFormControl(editFormFields.name, $event)"
            ></app-input-field>
          </div>
          <div class="form__field">
            <app-select-field
              [fieldName]="editFormFields.categoryIdLabel"
              [initValue]="this.product.categoryId"
              [items]="categories$ | async"
              [validators]="{ required: true, castToNumberValidator: true }"
              (controllerCreated)="
                addFormControl(editFormFields.categoryId, $event)
              "
            ></app-select-field>
          </div>
          <div class="form__field">
            <app-radio-field
              [fieldName]="editFormFields.gender | titlecase"
              [initValue]="this.product.gender"
              [items]="genders"
              [validators]="{ required: true }"
              (controllerCreated)="
                addFormControl(editFormFields.gender, $event)
              "
            ></app-radio-field>
          </div>
          <div class="form__field">
            <app-textarea-field
              [fieldName]="editFormFields.description | titlecase"
              [initValue]="this.product.description"
              [validators]="{ required: true }"
              (controllerCreated)="
                addFormControl(editFormFields.description, $event)
              "
            ></app-textarea-field>
          </div>
        </section>
        <section class="column">
          <div class="form__field">
            <app-input-field
              [fieldName]="editFormFields.image | titlecase"
              [initValue]="this.product.image"
              [validators]="{ required: true, pattern: urlPattern }"
              (controllerCreated)="addFormControl(editFormFields.image, $event)"
              type="url"
            ></app-input-field>
            <img
              class="form_field--image"
              [src]="editForm.get(editFormFields.image).value"
            />
          </div>
          <div class="form__field">
            <app-input-field
              [fieldName]="editFormFields.costLabel"
              [initValue]="this.product.cost"
              type="number"
              [validators]="{ required: true, castToNumberValidator: true }"
              (controllerCreated)="addFormControl(editFormFields.cost, $event)"
            ></app-input-field>
          </div>
          <div class="form__field">
            <app-select-field
              [fieldName]="editFormFields.rating | titlecase"
              [initValue]="this.product.rating"
              [items]="ratingItems"
              [validators]="{ required: true, castToNumberValidator: true }"
              (controllerCreated)="
                addFormControl(editFormFields.rating, $event)
              "
            ></app-select-field>
          </div>
        </section>
        <div class="modal__cta">
          <button
            type="button"
            class="button button--secondary button--big"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            class="button button--primary button--big"
            type="submit"
            [disabled]="editForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
