<section class="filters" [formGroup]="filtersForm">
  <div class="filters__buttons">
    <button
      class="h5 button button--primary button--regular"
      (click)="toggleFilters()"
    >
      Filter options
    </button>
    <app-input-field
      [additionalInputClass]="
        'textinput-icon filters__icon--fbt textinput--narrower'
      "
      [inputPlaceholder]="'Filter by text...'"
      [initValue]="initialFiltersFormValue.q"
      (controllerCreated)="addFormControl(filterFormFields.q, $event)"
      (keyup.enter)="onApplyFilters()"
    ></app-input-field>
  </div>
  <div class="filters__content" *ngIf="showFilters">
    <form
      id="filters__form_id"
      class="form form__filters"
      [formGroup]="filtersForm"
      (ngSubmit)="onApplyFilters()"
    >
      <div class="filters__field-wrapper">
        <app-checkbox-field
          [fieldName]="filterFormFields.availabilityLabel | titlecase"
          [initValue]="initialFiltersFormValue.availability"
          (controllerCreated)="
            addFormControl(filterFormFields.availability, $event)
          "
        ></app-checkbox-field>
      </div>
      <div class="filters__field-wrapper filters__field-wrapper__radiobutton">
        <app-radio-field
          [fieldName]="filterFormFields.gender | titlecase"
          [initValue]="initialFiltersFormValue.gender"
          [items]="genderItems"
          (controllerCreated)="addFormControl(filterFormFields.gender, $event)"
        ></app-radio-field>
      </div>
      <div class="filters__field-wrapper">
        <app-select-field
          [styleBackgroundColor]="'green'"
          [fieldName]="filterFormFields.categoryIdLabel | titlecase"
          [initValue]="initialFiltersFormValue.categoryId"
          [items]="categories$ | async"
          (controllerCreated)="
            addFormControl(filterFormFields.categoryId, $event)
          "
        ></app-select-field>
      </div>
      <div class="filters__field-wrapper">
        <app-select-field
          [styleBackgroundColor]="'green'"
          [fieldName]="filterFormFields.rating | titlecase"
          [initValue]="initialFiltersFormValue.rating"
          [items]="ratingItems"
          (controllerCreated)="addFormControl(filterFormFields.rating, $event)"
        ></app-select-field>
      </div>
      <div class="filters__field-wrapper">
        <app-input-field
          class="filters__textinput"
          [fieldName]="filterFormFields.cost_gteLabel | titlecase"
          [initValue]="initialFiltersFormValue.cost_gte"
          type="number"
          (controllerCreated)="
            addFormControl(filterFormFields.cost_gte, $event)
          "
        ></app-input-field>
        <span
          class="h3 form__error-message"
          *ngIf="filtersForm.get(filterFormFields.cost_gte).hasError('greater')"
        >
          {{ filtersForm.get(filterFormFields.cost_gte).getError('greater') }}
        </span>
      </div>
      <div class="filters__field-wrapper">
        <app-input-field
          class="filters__textinput"
          [fieldName]="filterFormFields.cost_lteLabel | titlecase"
          [initValue]="initialFiltersFormValue.cost_lte"
          type="number"
          (controllerCreated)="
            addFormControl(filterFormFields.cost_lte, $event)
          "
        ></app-input-field>
        <span
          class="h3 form__error-message"
          *ngIf="filtersForm.get(filterFormFields.cost_lte).hasError('lesser')"
        >
          {{ filtersForm.get(filterFormFields.cost_lte).getError('lesser') }}
        </span>
      </div>
      <div class="filters__field-wrapper filters__field-wrapper--buttons">
        <button
          type="button"
          class="h5 button button--secondary button--regular"
          (click)="onResetFilters()"
        >
          Reset filters
        </button>
        <button
          type="button"
          class="h5 button button--primary button--regular"
          (click)="onApplyFilters()"
          [disabled]="filtersForm.invalid"
        >
          Apply filters
        </button>
      </div>
      <button
        *ngIf="filtersForm.valid"
        type="submit"
        class="h5 button button--primary button--regular filter__submit-button"
      ></button>
    </form>
  </div>
</section>
