<div class="modal">
  <div class="modal__header">
    <h2
      class="h2--bigger font__style--weight-bold font__style--font-family--caption modal__title--elipsis"
    >
      {{ selled ? 'Thank you!' : 'Sorry!' }}
    </h2>
  </div>
  <div class="modal__body">
    <div class="modal__main">
      <p class="h1 font__style--font-family--caption font__style--center">
        {{ onBuyingMessage }}
      </p>
    </div>
    <div class="modal__cta">
      <app-button primary big (click)="afterBuying()"
        >Continue shopping</app-button
      >
    </div>
  </div>
</div>
<div class="modal-overlay"></div>
