<article *ngIf="product" class="card card--pdp">
  <app-card-figure
    class="card__figure"
    [imageSrc]="product.image"
    [rating]="product.rating"
    [maxRating]="productMaxRating"
  ></app-card-figure>

  <section class="card__info">
    <app-card-info-group
      [title]="product.name"
      [description]="product.description"
    ></app-card-info-group>

    <app-card-actions
      *ngIf="isCurrentUserAdmin$ | async"
      [actions]="getAdminActions()"
    ></app-card-actions>

    <div class="card__cta">
      <p class="h1 font__style--weight-bold  card__info-price">
        {{ product.cost
        }}<span
          class="font__style--weight-lighter font__style--smaller card__info-price--extra"
        >
          ({{
            getProductAvailability() > 0
              ? getProductAvailability() + ' items left'
              : 'Sold Out'
          }})</span
        >
      </p>
      <button
        class="button button--primary button--regular"
        [disabled]="getProductAvailability() < 1"
        (click)="onBuy()"
      >
        <span class="h5">Buy</span>
      </button>
    </div>
  </section>

  <app-product-interaction
    [product]="product"
    [productInteractionType]="productInteractionType"
    (clearProductInteractionType)="onClearProductInteractionType()"
  ></app-product-interaction>
</article>
