<article *ngIf="product" class="card card--pdp">
  <figure class="card__figure">
    <img class="figure__image" src="{{ product.image }}" appPlaceholder />
    <app-card-rating [rating]="3" [maxRating]="5"></app-card-rating>
  </figure>
  <section class="card__info">
    <div class="card__info-group">
      <h2 class="h2 h--bold card__info-title">{{ product.name }}</h2>
      <p class="h5">
        {{ product.description }}
      </p>
      <div *ngIf="isCurrentUserAdmin">
        <br class="h3" />
        <p class="h3 card__admin-action">
          You can
          <a class="card__admin-action--link" [routerLink]="['add']"
            >add 5 more</a
          >. You can also
          <a class="card__admin-action--link" [routerLink]="['edit']">edit</a>
          details or
          <a class="card__admin-action--link" [routerLink]="['delete']"
            >delete</a
          >
          them.
        </p>
      </div>
    </div>
    <div class="card__cta">
      <p class="h1 h--bold  card__info-price">
        {{ product.cost
        }}<span class="h--lighter h--smaller card__info-price--extra">
          ({{
            getProductAvailability() > 0
              ? getProductAvailability() + ' items left'
              : 'Sold Out'
          }})</span
        >
      </p>
      <button
        class="button button--primary button--regular"
        (click)="toggleModal()"
        [disabled]="getProductAvailability() < 1"
      >
        <span class="h5">Buy</span>
      </button>
    </div>
    <app-product-buy
      *ngIf="onBuying"
      [product]="product"
      (closeModal)="toggleModal()"
    ></app-product-buy>
  </section>
</article>
