<article *ngIf="product" class="card card--pdp">
  <app-card-figure
    class="card__figure"
    [imageSrc]="product.image"
    [rating]="product.rating"
    [maxRating]="getProductMaxRating()"
  ></app-card-figure>

  <section class="card__info">
    <app-card-info-group
      [title]="product.name"
      [description]="product.description"
    ></app-card-info-group>

    <app-card-actions
      *ngIf="isCurrentUserAdmin"
      [actions]="getActions()"
    ></app-card-actions>

    <div class="card__cta">
      <app-card-price
        [price]="product.cost"
        [quantity]="getProductAvailability()"
      >
      </app-card-price>
      <app-button
        primary
        regular
        (click)="toggleModal()"
        [disabled]="!getProductAvailability()"
        >Buy</app-button
      >
    </div>
    <app-product-buy
      *ngIf="onBuying"
      [product]="product"
      (closeModal)="toggleModal($event)"
    ></app-product-buy>
  </section>
</article>
