<div class="modal__header">
  <h2
    class="h2--bigger font__style--weight-bold font__style--font-family--caption modal__title--elipsis"
  >
    {{ 'Thank you!' }}
  </h2>
</div>
<div class="modal__body">
  <div class="modal__main">
    <p class="h1 font__style--font-family--caption font__style--center">
      {{ selledMessage }}
    </p>
  </div>
  <div class="modal__cta">
    <button class="button button--primary button--big" (click)="onCancel()">
      Continue shopping
    </button>
  </div>
</div>
