@import 'palettes';

.textinput {
  height: 2.19em;
  width: 100%;
  border-radius: 0.31em;
  background-color: $default-white;
  padding: 0 1em;
  margin: 0.25em 0;
}

.textinput:focus {
  outline: 0.13em solid $border-focus;
}

.textinput.ng-invalid.ng-touched:not(:focus) {
  outline: 0.13em solid $border-error;
}

.textinput-icon {
  background-position: right 1.19em center;
  background-repeat: no-repeat;
  background-size: 1.88em;
}
