<div class="modal" id="modal_login">
  <div class="modal__header">
    <h2 class="h2--bigger h--bold h--caption modal__title--elipsis">
      Login to “Demo Shop”
    </h2>
  </div>
  <div class="modal__body">
    <div class="modal__main">
      <form class="form" [formGroup]="loginForm">
        <div class="form__field">
          <p><label class="h3" for="username">Your login:</label></p>
          <input
            id="username"
            type="text"
            class="h5 textinput textinput-icon login__icon--username"
            formControlName="username"
          />
          <p
            class="h3 form__error-message"
            *ngIf="
              loginForm.get('username').touched &&
              loginForm.get('username').hasError('minlength')
            "
          >
            The username must be at least 3 letters
          </p>
          <p
            class="h3 form__error-message"
            *ngIf="
              loginForm.get('username').touched &&
              loginForm.get('username').hasError('required')
            "
          >
            The username is required
          </p>
          <p
            class="h3 form__error-message"
            *ngIf="
              loginForm.get('username').touched &&
              loginForm.get('username').hasError('pattern')
            "
          >
            The username must contain only English letters
          </p>
        </div>
        <div class="form__field">
          <p><label class="h3" for="password">Your password::</label></p>
          <input
            id="password"
            type="password"
            class="h5 textinput textinput-icon login__icon--password"
            formControlName="password"
          />
          <span
            class="h3 form__error-message"
            *ngIf="
              loginForm.get('password').touched &&
              loginForm.get('password').hasError('required')
            "
          >
            The password is required
          </span>
        </div>
        <div class="modal__cta">
          <span
            class="h3 form__error-message"
            *ngIf="loginForm.invalid && isSubmitted"
            >Wrong login or password</span
          >
          <button
            class="button button--primary button--big"
            type="submit"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-overlay" id="modal-overlay"></div>
